#home-center img {
  padding-top: 50px;
  padding-bottom: 30px;
}

.home-logo {
  max-width: 130%;
  -webkit-box-shadow: 0px 15px 56px -18px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 15px 56px -18px rgba(0,0,0,0.41);
  box-shadow: 0px 15px 56px -18px rgba(0,0,0,0.41);
  /* margin-top: 30px; */
  margin-bottom: 30px;
  margin-left: -15%;
  border-radius: 8px;
  height: 330px; 
  width: 130%;
  object-fit: cover;
}

.unsplash-image {
    max-width: 130%;
    -webkit-box-shadow: 0px 15px 56px -18px rgba(0,0,0,0.41);
    -moz-box-shadow: 0px 15px 56px -18px rgba(0,0,0,0.41);
    box-shadow: 0px 15px 56px -18px rgba(0,0,0,0.41);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: -15%;
    border-radius: 8px;

    height: 330px; 
    width: 130%;
    object-fit: cover;
    
  }
  
  .unsplash-credit {
    background-color:black;color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px
  }
  
  .unsplash-credit span {
    display:inline-block;
    padding:2px 3px
  }
  
  .unsplash-credit span svg {
    height:12px;
    width:auto;
    position:relative;
    vertical-align:middle;
    top:-2px;
    fill:white
  }

  .logo__cursor {
    background: #d290be !important;
  }

  .menu {
    border-right: white 0px !important;
    margin-right: 0px !important;
  }